/* Footer Top */

.footer-top {
  position: sticky;
  
  margin: 80px auto -55px auto !important;
  background: #272727;
  border-radius: 50px;
  width: 1066px;
  height: 372px;
  z-index: 9999; 
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .footer-top-mobile{
  z-index: auto;
    background: #272727;
    width: 292px;
height: 206px;
display: flex;
flex-direction: column;
align-items: center;
  }
}

/* position: absolute;
  top: -70%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto !important; */

 
  @media screen and(min-width: 320px)  and (max-width: 576px){
    .foody{
      margin: 0 auto;
      display: block;
     
    }
    
  }
  