
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
       .footerUl{
        color: red !important;

      
    }
    }


    /* Footer Top */

    .footer-top{
        position: absolute;
        top: -70%;
        left: -50%;
        margin: 0 auto;
        background: #272727;
border-radius: 50px;
width: 1066px;
height: 372px;
    }