
.parent{
display: flex;
flex-direction: column;
}

.contentDiv .title{
    font-family: 'Mukta';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 30px;
color: #000000;
text-align: center;
margin-bottom: 22px;
}
@media screen and (min-width: 320px) and (max-width: 576px){
    .titleMedia{
        font-size: 35px;
        margin-bottom: 18px;
       
    }
    
}
.content{
    font-family: 'Roboto' ;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 35px;
color: #828282;
text-align: center;
width: 95%;
height: 184px;

}

@media screen and (min-width: 320px) and (max-width: 576px){
    .contentMedia{
        font-size: 16px;
        color: red;
        margin-bottom: 120px;
    }
    
}
.imgDiv{
    margin-top: 40px;


}
.imgDiv img {
    display: block;
    margin: 0 auto;
}
.contentDiv{
    margin-top: 74px;
    margin-bottom: 11px;
}



.photo{
    display: block;
    margin: 0 auto;
}