

.test{
   width: 70%;
   height: 100vh;
margin: 50px auto;
}
.title{
   text-align: center;
   font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 30px;

color: #000000;
}