.box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  /* height: 625px; */
}

.card1 {
  cursor: pointer;
  width: 250px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* margin-right: 21px; */
  margin-bottom: 30px;
  margin-right: 16px;
  padding: 15px;

  background: #ffffff;
}
.card1 img {
  display: block;
  margin: 0 auto;
  width: 174px;
  /* object-fit: cover; */
  height: 164px;
  object-fit: cover;
  margin-bottom: 15px;
}

.content {
  color: #828282;
}
.box .card1 h2 {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #4f4f4f;
  margin-bottom: 5px !important;
  /* padding-left: 0; */
}

.contentcard {
  height: 40px;
  color: #828282;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  /* margin-left: 15px; */
  margin-right: 23px;
}
.red {
  width: 78px;
  height: 35.38px;
  background: #d63626;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  color: #ffffff;
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  /* margin-right: 17px; */
}
.delivery {
  font-family: "Roboto" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* margin-left: 10px; */
  color: #4f4f4f;
}
.lastBox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* restaurant sidebar */
.sidebar {
  /* width: 100%; */
  /* width: 251px; */
  background: #f3f4f6;
  padding: 40px 0;
  border-radius: 5px;
  /* margin-bottom: 30px; */
  /* margin-right: 25px; */
}

.parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-left: 18px; */
  /* margin-right: 27px; */
  margin-top: 34px;
  /* width: 205px; */
  height: 40px;
}

.categoryImg {
  border-radius: 50px;
}
.parent2:hover {
  border-radius: 4px;
  background-color: rgba(214, 54, 38, 0.1);

  color: #d63626;
}

.type {
  width: 120px;
  font-family: "Mukta";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-left: 17px;
  padding-top: 15px;
}

.parent2::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.parent2::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
.parent2::-webkit-scrollbar-thumb {
  background: rgb(214, 54, 38);
}

/* Handle on hover */
.parent2::-webkit-scrollbar-thumb:hover {
  background: rgb(214, 54, 38);
}

.sidebar-filters {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}

.sidebar-filters p {
  font-family: "Mukta", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0;
  color: #4f4f4f;
  margin-right: 8px;
}

.filters-parent {
  position: fixed;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  /* top: 50px; */
  overflow-y: scroll;
  bottom: 0;
  z-index: 5555;
  width: 100%;
  height: 350px;
  background: #ffffff;
  border-radius: 20px;
  /* box-shadow: 0px 3px 8px -2px rgba(0, 0, 0, 0.2); */
}
.filters-parent img {
  width: 30px;
  margin: 20px auto;
}
.filters-parent .parentFilter{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #E0E0E0;
}
.filters-parent .typeFilter{
  width: 100%;
  font-family: "Mukta";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
@media screen and (min-width: 320px) and (max-width: 576px) {

  .card1 {
    width: 160px;
    height: 210px;
    margin: 30px 0;
    margin-right: 6px;
    padding: 0px;
  }
  .card1 img {
    display: block;
    margin: 0 auto;
    width: 112px;
    /* object-fit: cover; */
    height: 88px;
  
  }
  
  
  .box .card1 h2 {

    font-size: 18px;
 
    text-align: center;
    /* padding-left: 0; */
  }
  
  .contentcard {
    width: auto;
    height: 30px;
 
    font-size: 12px;
    text-align: center;
    /* margin-left: 15px; */
    margin: 0 auto;
  }
  .red {
    width: 58px;
    height: 25.38px;
  
   
    font-size: 12px;
  
  }
  .delivery {

    font-size: 12px;

    /* margin-left: 10px; */
    margin-bottom: 0;
   
  }
  .lastBox {

    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
}
